* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
/*BODY*/
body {
    background-image: url(./img/background1.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*HEADER*/
.header {
    background-color: rgb(255, 228, 206);
    height: 80px;
    width: 100%;
    flex: ;
}
.header img {
    margin: 2.5px 10px;
    float: left;
}
.header ul {
    text-align: right;
}
.header li {
    display: inline-block;
    padding: 30px 15px;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
}
.header a {
    text-decoration: none;
    color: black;
}
.header a:hover {
    color: rgba(0, 0, 0, 0.452);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

/*CONTENT*/
.main-content {
    flex: 1 1 auto;
    overflow-y: scroll;
}
.opening {
    height: 100px;
    width: 1000px;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    background-color: rgba(103, 210, 198, 0.8);
    font-size: 30px;
    font-family: 'Lobster', cursive;
    border-radius: 20px;
}
.container {
    width: 1000px;
    margin: 0 auto;
}

/*Phase Dropdown*/
.phase {
    margin: 10px auto;
    background-color: rgba(103, 210, 198, 0.5);
    text-align: left;
    font-size: 38px;
    font-family: 'Lobster', cursive;
    border-radius: 20px;
}
.week {
    display: none;
}
.phase input{
    cursor: pointer;
    opacity: 0;
    margin: auto;
    width: 1000px;
    height: 70px;
    position: absolute;
}
.phase input[type=checkbox]:checked~.week {
    display: inline-block;
    background-color: rgba(103, 210, 198, 0.4);
    text-align: left;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    margin: 5px 10px;
    width: 980px;
    border-radius: 20px;
    border: 5px dotted rgb(103, 210, 198);
}

/*Week Dropdown*/
.day {
    display: none;
}
.week input{
    cursor: pointer;
    opacity: 0;
    margin: auto;
    width: 1000px;
    height: 60px;
    position: absolute;
}
.week input[type=checkbox]:checked~.day {
    display: inline-block;
}

/*Day Dropdown*/
.day {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    position: relative;
}
.entree {
    display: none;
}
.day input{
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 55px;
    position: absolute;
}
.day input[type=checkbox]:checked~.entree {
    overflow: hidden;
    display: block;
    font-size: 20px;
    background-color: rgb(161, 235, 226, 0.7);
    text-align: justify;
    font-family: 'Sniglet', cursive;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px solid rgb(39, 134, 158);
}
.day label {
    border-radius: 15px;
    background-color: rgb(161, 235, 226, 0.7);
    text-align: center;
    font-size: 22px;
    font-family: 'Sniglet', cursive;
    display: block;
    padding: 10px 40px;
    margin: 0 5px;
    border: 5px solid rgb(39, 134, 158);
}
.day input[type=checkbox]:checked~label{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 5px;
}

/*ABOUT ME PAGE*/
.about {
    width: 1000px;
    margin: 0 auto;
}
.bio, .sm {
    margin: 10px auto;
    border-radius: 20px;
    border: 5px dotted rgb(103, 210, 198);
    background-color: rgba(103, 210, 198, 0.6);

}
.bio h2, .sm h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    padding-top: 15px;
}
.bio p, .sm p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Sniglet', cursive;
    padding: 0 15px;
    padding-bottom: 15px;
}
.sm a {
    text-decoration: none;
    color: black;
}
table {
    text-align: center;
    width: 50%;
    padding-bottom: 10px;
    margin: 0 auto;
}
.sm-text {
    font-size: 25px;  
    font-family: 'Sniglet', cursive; 
}
.sm-img img {
    border-radius: 12px;
}
.sm-img img:hover {
    opacity: 0.5;
}
td {
    width: 50%;
}

/*FOOTER*/
.quote {
    background-color:#000;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-family: 'Sniglet', cursive;
}